PORT=5000
MONGODB_URI=mongodb://localhost:27017/knowledge_base
OPENAI_API_KEY=AkLmkQY5vIuuUquJtieT1phWGaI3In6n5iVRaQ8pk8lMrXP79TrXlEHqER4kKn6UCfeOKr7pMdT3BlbkFJ0EXytj-yHoEgyl7K6aT1KFIbJd8RFe-4Q5PzNB5Uf9aWPaLmvP7Hmg4BOdowyN9g24zi6MDvAA



